{% extends 'base.html' %}
    
{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-typography--headline">
{% block title %} Files {% endblock %}
</div>
<form method="post" action="{{url_for('upload')}}" enctype="multipart/form-data">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <label id="labelFile" for="inputFile">
      <div class="mdl-card__title">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">file_upload</i>
      </div>
      <input id="inputFile" name="file" type="file" />

      <div class="mdl-card__supporting-text">
        Select your CSV file with new comments to classify
      </div>
    </label>
    <div class="mdl-card__actions mdl-card--border">
      <input type="submit" value="Upload"
        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    </div>

  </div>
</form>

{% endblock %}